@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
html{
    scroll-behavior: smooth;
}
:root{
    --paragraph: #333;
    --main-font: 'Raleway', sans-serif;
}
body{
    margin: 0;
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
}
.curved{    
    padding-top: 40px;
    text-align: center;
    color: #fff;
    background: rgb(0,0,80);
    font-family: 'Raleway', sans-serif;
}
.curved h1{
    margin-top: 0;
    font-family: 'Raleway', sans-serif;
}
.up-section{
    display: flex;
    box-sizing: border-box;
}
.foto{
    clip-path: polygon(0 40%, 72% 0, 100% 100%);
}
.up-foto{
    width: 30%;
}
.up-text{
    padding: 20px;
    box-sizing: border-box;
    width: 60%;
}
.up-text h1,p{
}
.progress-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 130px;
}
.progress-section{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-evenly;
}
.progress-section .progress{
    width: 300px;
    height: 30px;
    background: #fff;
    border-radius: 20px;
    color: black;
    line-height: 30px;
    width: 300px;
    margin-left: 30px;
}
.progress-done{
    height: 30px;
    background: yellow;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
}
.frontend{
    width: 40%;
}
.backend{
    width: 25%;
}
.gaming{
    width: 66%;
}
.side-bar{
    width: 10%;
    margin-top: -50px;
    writing-mode: vertical-rl;
    font-size: 1.2em;
}
.side-bar ul{
    display: flex;
    list-style: none;
}
.side-bar ul li a{
    text-decoration: none;
    color: #fff;
}
.side-bar ul li{
    margin: 20px 0;
}
.up-text h1{
}
.socmed-button{
    margin-top: 50px;
}
.socmed-button ul{
    display: flex;
    justify-content: center;
}
.socmed-button ul li{
    list-style: none;
    text-decoration: none;
    margin: 0 8px;
    width: 50px;
    border: 1px solid white;
    padding: 3px;
    box-sizing: border-box;
    border-radius: 15px;
    transition: .3s;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
}
.socmed-button ul li i{
    width: 100%;
    color: white;   
    font-size: 2.7em;
}
.socmed-button ul li:hover{
   background-color: rgb(0,0,50);
   box-shadow: 0 0 15px rgba(0,0,0,.5);
}
.mini-bio{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    height: 450px;
    margin: auto;
    background: rgb(0,0,80);
    color: white;
    padding: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,.4);
    border-radius: 50px;
}
.pic-2{
    height: 400px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    transition: .4s;
}
.pic-2:hover{
    box-shadow: 0 5px 15px 1px rgba(0,0,0,.3);
}
.pic-2 img{
    display: block;
}
.whatsapp{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
}
.whatsapp a{
    text-decoration: none;
    height: 35px;
    display: inline-block;
    position: relative;
    transition: 1s;
}
.icon-wa{
    transition: 1s;
}
.whatsapp a:hover{
    top: -15px;
}
.mini-text{
    color: rgb(0,0,80);
    font-size: 1.1em;
    text-align: center;
    margin-top: 35px;
    font-family: 'Raleway', sans-serif;
}
.typing{
    width: 50%;
    height: 100px;
    font-family: 'Raleway', sans-serif;
    margin-top: 7%;

}
.type{
    width: 700px;
    height: 30px;
    margin-bottom: 15px; 
}
.typing p{
    font-family: arial;
}
.svg-2{
    margin-left: 50%;
    transform: scale(.3);
}
.location{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: var(--main-font);
    box-sizing: border-box;
    color: var(--paragraph);
}
.coloumn-section{
    padding-top: 50px 40px;
    width: 80%;
    margin: auto;

}
.location-h1{
    display: inline-block;
    padding: 15px;
    color: white;
    background: #76006c;
}
.wave-2{
    background-color: salmon;
}
.maps{
    width: 100vw;
    height: 500px;
}
footer{
    background-color: rgb(0,0,70);
    width: 100%;
    height: 30vh;
    padding: 20px 30px;
    display: flex;
    color: #eee;
    font-family: var(--main-font);
    box-sizing: border-box;
    justify-content: space-around;
}
footer ul{
    margin-top: 0;
}
footer ul li{
    font-size: .9em;
    margin-bottom: 8px;
}
.name{
    align-self: center;
}